* {
    background-color: white;
    border: 2px black solid;
    /* padding: 10px; */
}

body {
    height: 100vh;
    weight: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    flex-grow: 0;
    min-height: 50px;
}

.herosection,
.random,
.quote,
.signup {
    flex:  2;
}

